
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title></title>
    </head>
    <body>
        <form method="post">
            <input type="text" name="email" id="Email" placeholder="Email" class="form-control" />
            <br />
            <input type="text" name="password" id="Password" placeholder="Password" class="form-control" />
            <br />
            <button id="btn" class="btn btn-primary">Sign Up</button>
        </form>
    </body>
    </html>
